flows.json
[{"id":"dbc238ff.c9dbe8","type":"tab","label":"[Cinema] Proiettore","disabled":false,"info":""},{"id":"fa7c93e1.602cd","type":"tab","label":"[Cinema] Codici telecomando","disabled":false,"info":""},{"id":"37e0f499.da808c","type":"tab","label":"[Home] Monitor temperatura","disabled":false,"info":""},{"id":"d68fa27.2876e6","type":"tab","label":"[Home] Dispositivi","disabled":false,"info":""},{"id":"ea6ff288.84fe1","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"3e8f6df5.2db5c2","type":"tab","label":"[Jbbs] Dashboard","disabled":false,"info":""},{"id":"f4588f45.fad92","type":"tab","label":"[Jbbs] Indicatori","disabled":false,"info":""},{"id":"630ae554.57ba1c","type":"tab","label":"[Jbbs] Comandi Manuali","disabled":false,"info":""},{"id":"f7138710.88e578","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fdca1072.b74db","type":"ui_group","z":"","name":"Casa","tab":"951d23c5.1ba94","disp":false,"width":"6","collapse":false},{"id":"8a8f6b01.2362f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"951d23c5.1ba94","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"bb63334a.27859","type":"ui_tab","z":"37e0f499.da808c","name":"Alexa","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee195180.e092e","type":"ui_group","z":"","name":"Portico","tab":"951d23c5.1ba94","disp":false,"width":"6","collapse":false},{"id":"a59913e2.211e4","type":"ui_group","z":"37e0f499.da808c","name":"Alexa","tab":"bb63334a.27859","disp":false,"width":5,"collapse":false},{"id":"63062a51.a99584","type":"ui_group","z":"37e0f499.da808c","name":"Alexa2","tab":"bb63334a.27859","disp":false,"width":5,"collapse":false},{"id":"c99d0734.21edf8","type":"telegram bot","z":"","botname":"Peppolandia","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8326e5bd.c36098","type":"ui_group","z":"","name":"Mash","tab":"75203b2a.a377a4","order":3,"disp":false,"width":"6"},{"id":"75203b2a.a377a4","type":"ui_tab","z":"","name":"Jbbs","icon":"dashboard","order":2},{"id":"b780c2e7.32256","type":"ui_tab","z":"","name":"Recipe","icon":"dashboard","order":1},{"id":"4bb5349c.77c6ac","type":"ui_group","z":"","name":"Elenco Ricette","tab":"b780c2e7.32256","disp":true,"width":"6"},{"id":"5f7c5d47.342e04","type":"ui_group","z":"","name":"Sparge","tab":"75203b2a.a377a4","order":2,"disp":false,"width":"6"},{"id":"b320ab50.207118","type":"ui_group","z":"","name":"Boil","tab":"75203b2a.a377a4","order":4,"disp":false,"width":"6"},{"id":"ca71a168.878d5","type":"sqlitedb","z":"","db":"/home/pi/db/jbbs.sqlite"},{"id":"7f45fe2.f6e01","type":"sqlitedb","z":"","db":"/data/jbbs/jbbs.sqlite","mode":"RWC"},{"id":"98021afc.babed8","type":"ui_group","z":"","name":"demo 1","tab":"d43e939d.1f8fb","order":1,"disp":false,"width":"12","collapse":false},{"id":"d43e939d.1f8fb","type":"ui_tab","z":"","name":"Demo 1:  static","icon":"dashboard","order":1},{"id":"170a89b.969ef76","type":"ui_tab","z":"","name":"Demo 3: dynamic growing","icon":"dashboard","order":3},{"id":"d65c8c06.4f5eb","type":"ui_group","z":"","name":"demo 3","tab":"170a89b.969ef76","order":1,"disp":false,"width":"12","collapse":false},{"id":"52444b0b.7dc414","type":"ui_tab","z":"","name":"Demo 2: dynamic","icon":"dashboard","order":2},{"id":"f31010ee.1e1be","type":"ui_group","z":"","name":"demo 2","tab":"52444b0b.7dc414","order":1,"disp":false,"width":"12","collapse":false},{"id":"df0ab033.4ccaf","type":"mqtt in","z":"dbc238ff.c9dbe8","name":"","topic":"bridge_ir/tele/RESULT","qos":"2","datatype":"json","broker":"8a8f6b01.2362f8","x":140,"y":360,"wires":[["306c1baf.0c3a74"]]},{"id":"60eae1ba.6b60f","type":"mqtt out","z":"dbc238ff.c9dbe8","name":"MQTT Out","topic":"","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":1090,"y":320,"wires":[]},{"id":"a7f73d2c.b30c2","type":"switch","z":"dbc238ff.c9dbe8","name":"Telecomando","property":"payload.IrReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"0x000CF20D","vt":"str"},{"t":"eq","v":"0x000C728D","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":400,"wires":[["289c304e.287d8"],["275b66e4.6657fa"]],"info":"0x000CF20D => on\n0x000C728D => off\n0x000C847B => play/pause\n0x000C55AA => stop\n0x000C28D7 => mute on/off\n0x000CC13E => vol down\n0x000C41BE => vol up"},{"id":"81472951.dab988","type":"delay","z":"dbc238ff.c9dbe8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":280,"wires":[["60eae1ba.6b60f"]]},{"id":"818a031e.24d06","type":"function","z":"dbc238ff.c9dbe8","name":"Spengo Stereo","func":"msg = {};\nmsg1 = {};\nmsg1.topic = \"control\"\nmsg1.payload =  \"open\"\n\n\n// bisogna inviare l'MQTT per il Sonoff\nmsg.topic = \"bridge_ir/cmnd/irsend\";\n// StandBy\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\",\"DataLSB\":\"0x244B54AB\",\"Repeat\":0};\n\nreturn [msg, msg1];\n","outputs":2,"noerr":0,"x":620,"y":580,"wires":[["60eae1ba.6b60f"],["ae998d3b.3aedb"]]},{"id":"84bcc139.f89dc","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"fdca1072.b74db","order":0,"width":0,"height":0,"label":"Temperatura di Casa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":580,"y":160,"wires":[[]]},{"id":"acdd5f01.e025e","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"fdca1072.b74db","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Gradi","format":"{{value}}","min":"10","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"16","seg2":"26","x":570,"y":260,"wires":[]},{"id":"db0385e6.e91bf8","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura sala","topic":"bridge_ir/tele/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":100,"y":240,"wires":[["59a5105d.9e3db"]]},{"id":"59a5105d.9e3db","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":240,"wires":[["4d0d77a0.0a3948"]]},{"id":"4d0d77a0.0a3948","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":240,"wires":[["84bcc139.f89dc","acdd5f01.e025e","f88fb998.05e6d8"],["34a47040.e3971"]]},{"id":"34a47040.e3971","type":"ui_text","z":"37e0f499.da808c","group":"fdca1072.b74db","order":0,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload}}","layout":"col-center","x":580,"y":300,"wires":[]},{"id":"73fc4a15.36e5d4","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"ee195180.e092e","order":0,"width":0,"height":0,"label":"Temperatura Portico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":580,"y":360,"wires":[[]]},{"id":"f75b0560.0eddf8","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"ee195180.e092e","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Gradi","format":"{{value}}","min":"-5","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"10","seg2":"26","x":570,"y":440,"wires":[]},{"id":"cb40c6a0.045638","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura Portico","topic":"portico/tele/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":110,"y":440,"wires":[["2bc96230.79b66e"]]},{"id":"2bc96230.79b66e","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":440,"wires":[["4623b34e.0eabac"]]},{"id":"4623b34e.0eabac","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":440,"wires":[["73fc4a15.36e5d4","f75b0560.0eddf8","bac890d.d51067"],["75532831.fe4c38"]]},{"id":"75532831.fe4c38","type":"ui_text","z":"37e0f499.da808c","group":"ee195180.e092e","order":0,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload}}","layout":"col-center","x":580,"y":500,"wires":[]},{"id":"f88fb998.05e6d8","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"a59913e2.211e4","order":1,"width":0,"height":0,"gtype":"gage","title":"Sala","label":"Gradi","format":"{{value}}","min":"10","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"16","seg2":"26","x":570,"y":220,"wires":[]},{"id":"bac890d.d51067","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"63062a51.a99584","order":1,"width":0,"height":0,"gtype":"gage","title":"Portico","label":"Gradi","format":"{{value}}","min":"-5","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"10","seg2":"26","x":570,"y":400,"wires":[]},{"id":"52688d90.419324","type":"function","z":"dbc238ff.c9dbe8","name":"Chiudo schermo","func":"msg = {};\nmsg.topic = \"shellies/schermo/roller/0/command\";\nmsg.payload = \"open\";\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["818a031e.24d06","60eae1ba.6b60f"]]},{"id":"289c304e.287d8","type":"function","z":"dbc238ff.c9dbe8","name":"Apro schermo","func":"msg = {};\nmsg.topic = \"shellies/schermo/roller/0/command\";\nmsg.payload = \"close\";\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["96509290.9560e","60eae1ba.6b60f"]]},{"id":"454323e5.57d67c","type":"wemo-emulator","z":"dbc238ff.c9dbe8","name":"Cinema","friendlyName":"Cinema","serial":"Cinema","port":"38009","onTopic":"","onPayload":"On","offTopic":"","offPayload":"Off","x":110,"y":300,"wires":[["891850f0.98afb"]]},{"id":"891850f0.98afb","type":"switch","z":"dbc238ff.c9dbe8","name":"Comando Alexa","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":300,"wires":[["705ced9a.479154"],["275b66e4.6657fa"]],"info":"0x000CF20D => on\n0x000C728D => off"},{"id":"96509290.9560e","type":"function","z":"dbc238ff.c9dbe8","name":"Accendo Stereo","func":"msg = {};\nmsg1 = {};\n// bisogna inviare l'MQTT per il Sonoff\n\n// Accendo il pre\n// StandBy\nmsg.topic = \"bridge_ir/cmnd/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"};\n\n// Seleziono l'ingresso Aux\nmsg1.topic = \"bridge_ir/cmnd/irsend\";\nmsg1.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D230CF\"};\nreturn [[msg, msg1]];\n\n","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["81472951.dab988"]]},{"id":"705ced9a.479154","type":"function","z":"dbc238ff.c9dbe8","name":"Accendo Proiettore","func":"msg = {};\n\n// bisogna inviare l'MQTT per il Sonoff\nmsg.topic = \"bridge_ir/cmnd/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000CF20D\"};// StandBy\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["60eae1ba.6b60f","289c304e.287d8"]]},{"id":"275b66e4.6657fa","type":"function","z":"dbc238ff.c9dbe8","name":"Spengo Proiettore","func":"msg = {};\nmsg1= {};\nmsg1.topic = \"control\"\nmsg1.payload =  \"close\"\n\nmsg.topic = \"bridge_ir/cmnd/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000C728D\"};// StandBy\n\n// Simulo primo invio comando off telecomando\n//node.send([msg, msg1]);\n\n// Simulo secondo invio comando off telecomando\nreturn [[msg, msg], msg1];\n","outputs":2,"noerr":0,"x":610,"y":400,"wires":[["cd3aa272.d65ea","52688d90.419324"],["306c1baf.0c3a74"]]},{"id":"cd3aa272.d65ea","type":"delay","z":"dbc238ff.c9dbe8","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":360,"wires":[["60eae1ba.6b60f"]]},{"id":"306c1baf.0c3a74","type":"gate","z":"dbc238ff.c9dbe8","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":270,"y":460,"wires":[["a7f73d2c.b30c2"]]},{"id":"7815c2c3.41c6fc","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Standby","topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["65a256e9.6115f8"]]},{"id":"65a256e9.6115f8","type":"mqtt out","z":"fa7c93e1.602cd","name":"","topic":"","qos":"","retain":"","broker":"8a8f6b01.2362f8","x":500,"y":200,"wires":[]},{"id":"f93b3082.1996b","type":"inject","z":"fa7c93e1.602cd","name":"Proiettore/On","topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000CF20D\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["65a256e9.6115f8"]]},{"id":"7028eecd.fb041","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Mute","topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D20AF5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":400,"wires":[["65a256e9.6115f8"]]},{"id":"67e80fde.8f41f","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Aux1","topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D230CF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":340,"wires":[["65a256e9.6115f8"]]},{"id":"7e50d2d3.a21f9c","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Cd","topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D210EF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["65a256e9.6115f8"]]},{"id":"4b58c486.805d2c","type":"inject","z":"fa7c93e1.602cd","name":"Proiettore/Off","topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000C728D\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["65a256e9.6115f8"]]},{"id":"ae998d3b.3aedb","type":"delay","z":"dbc238ff.c9dbe8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":460,"wires":[["306c1baf.0c3a74"]]},{"id":"d32121a1.7b2d1","type":"wemo-emulator","z":"d68fa27.2876e6","name":"Pedonale","friendlyName":"Pedonale","serial":"Pedonale","port":"38002","onTopic":"cancello/cmnd/POWER2","onPayload":"1","offTopic":"cancello/cmnd/POWER2","offPayload":"0","x":100,"y":120,"wires":[["d252c836.a31c98"]]},{"id":"1f0cef1c.113e21","type":"wemo-emulator","z":"d68fa27.2876e6","name":"Cancello","friendlyName":"Cancello","serial":"Cancello","port":"38001","onTopic":"cancello/cmnd/POWER1","onPayload":"1","offTopic":"cancello/cmnd/POWER1","offPayload":"0","x":100,"y":60,"wires":[["d252c836.a31c98"]]},{"id":"d252c836.a31c98","type":"mqtt out","z":"d68fa27.2876e6","name":"MQTT Out","topic":"","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":630,"y":180,"wires":[]},{"id":"eb79cd28.d4e66","type":"comment","z":"d68fa27.2876e6","name":"","info":"Cancello e Pedonale sono comandati da due routine Alexa (\"Apri cancello\" ed \"Apri pedonale\") che mandano un impulso di un secondo","x":340,"y":60,"wires":[]},{"id":"3f9e1867.ba5b38","type":"telegram sender","z":"ea6ff288.84fe1","name":"","bot":"c99d0734.21edf8","x":370,"y":240,"wires":[[]]},{"id":"4268a6df.2834f8","type":"inject","z":"ea6ff288.84fe1","name":"","topic":"","payload":"{\"chatId\":-452025616,\"type\":\"message\",\"content\":\"Hello World\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["3f9e1867.ba5b38"]]},{"id":"7fa43aee.802b94","type":"function","z":"ea6ff288.84fe1","name":"","func":"msg.payload = {chatId:453108775,type:\"message\",\"content\":\"Hello World\"}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[[]]},{"id":"5060ceaf.80eb9","type":"json","z":"f4588f45.fad92","name":"","pretty":false,"x":310,"y":280,"wires":[["d97548e4.211898","1dcc8f4a.0fa6a1","52ec1c43.9fb8a4"]]},{"id":"f8e894c5.fa8398","type":"mqtt in","z":"f4588f45.fad92","name":"mash/status","topic":"mash/status","qos":"0","datatype":"auto","broker":"8a8f6b01.2362f8","x":114.22212219238281,"y":280,"wires":[["5060ceaf.80eb9"]]},{"id":"d97548e4.211898","type":"ui_template","z":"f4588f45.fad92","group":"8326e5bd.c36098","name":"Mash Temp Gauge","order":1,"width":"0","height":"0","format":"<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radial4;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radial4.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radial4.setValue(msg.payload.tempActual);\n//           if (typeof(msg.payload.max) != \"undefined\") radial4.setMaxValue(msg.payload.max);\n//           if (typeof(msg.payload.tempStart) != \"undefined\") radial4.setMinValue(msg.payload.tempStart);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radial4.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.pump) != \"undefined\") {\n\t\t\t\tradial4.blinkUserLed(msg.payload.pump); \n\t\t\t\tradial4.setUserLedOnOff(msg.payload.pump); \n\t\t\t}\n           if (typeof(msg.payload.fire) != \"undefined\") {\n\t\t\t\tradial4.blinkLed(msg.payload.fire); \n\t\t\t\tradial4.setLedOnOff(msg.payload.fire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radial4.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radial4.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radial4.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radial4.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(20, 50, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(50, 70, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(70, 80, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(70, 80, 'rgba(220, 0, 0, 0.3)')],\n\n    radial4 = new steelseries.Radial('canvasRadial4', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Mash\",\n            unitString: \"\",\n            threshold: 0,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n\t\t\tuserLedColor: steelseries.LedColor.BLUE_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 20,\n\t\t\tmaxValue : 80\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial4.setValue(0);\n    radial4.setThreshold(0);\n    radial4.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadial4\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":590,"y":280,"wires":[[]]},{"id":"602f2284.05ad8c","type":"ui_template","z":"f4588f45.fad92","group":"8326e5bd.c36098","name":"Mash Time Bar","order":3,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":605.1555023193359,"y":332.8223114013672,"wires":[[]]},{"id":"1dcc8f4a.0fa6a1","type":"function","z":"f4588f45.fad92","name":"","func":"if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":445.7554626464844,"y":332.4223175048828,"wires":[["602f2284.05ad8c"]]},{"id":"69f0da28.bca144","type":"ui_template","z":"f4588f45.fad92","group":"5f7c5d47.342e04","name":"Sparge Temp Gauge","order":1,"width":"0","height":"0","format":"<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radialSparge;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if (typeof(msg.payload.desc) != \"undefined\") radialSparge.setUnitString(msg.payload.desc);\n            if (typeof(msg.payload.tempActual) != \"undefined\") radialSparge.setValue(msg.payload.tempActual);\n            if (typeof(msg.payload.tempTarget) != \"undefined\") radialSparge.setThreshold(msg.payload.tempTarget);\n            if (typeof(msg.payload.boilValve) != \"undefined\") {\n//\t\t\t\tradialSparge.blinkUserLed(msg.payload.boilValve);\n\t\t\t\tradialSparge.setUserLedOnOff(msg.payload.boilValve);\n\t\t\t}\n            if (typeof(msg.payload.fire) != \"undefined\") {\n\t\t\t\tradialSparge.blinkLed(msg.payload.fire);\n\t\t\t\tradialSparge.setLedOnOff(msg.payload.fire);\n\t\t\t}\n            if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radialSparge.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radialSparge.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radialSparge.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radialSparge.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(20, 76, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(76, 80, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(80, 90, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(76, 80, 'rgba(0, 220, 0, 0.3)')],\n\n    radialSparge = new steelseries.Radial('canvasRadialSparge', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Sparge\",\n            unitString: \"\",\n            threshold: 0,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n//\t\t\tuserLedColor: steelseries.LedColor.BLUE_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 20,\n\t\t\tmaxValue : 90\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radialSparge.setValue(0);\n    radialSparge.setThreshold(0);\n    radialSparge.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadialSparge\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":440,"y":60,"wires":[[]]},{"id":"88299df8.a3bb9","type":"mqtt in","z":"f4588f45.fad92","name":"sparge/status","topic":"sparge/status","qos":"0","datatype":"auto","broker":"8a8f6b01.2362f8","x":112,"y":62,"wires":[["145412be.5f5f3d"]]},{"id":"145412be.5f5f3d","type":"json","z":"f4588f45.fad92","name":"","pretty":false,"x":230,"y":120,"wires":[["69f0da28.bca144","c888ad6c.1d22f","85277d3a.1c2fc"]]},{"id":"f532cca1.50d7","type":"ui_template","z":"f4588f45.fad92","group":"b320ab50.207118","name":"Boil Temp Gauge","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radialBoil;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radialBoil.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radialBoil.setValue(msg.payload.tempActual);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radialBoil.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.bigFire) != \"undefined\") {\n\t\t\t\tradialBoil.blinkUserLed(msg.payload.bigFire); \n\t\t\t\tradialBoil.setUserLedOnOff(msg.payload.bigFire); \n\t\t\t}\n           if (typeof(msg.payload.smallFire) != \"undefined\") {\n\t\t\t\tradialBoil.blinkLed(msg.payload.smallFire); \n\t\t\t\tradialBoil.setLedOnOff(msg.payload.smallFire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radialBoil.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radialBoil.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radialBoil.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radialBoil.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(90, 99, 'rgba(0, 0, 220, 0.3)'),\n\t                        steelseries.Section(99, 101, 'rgba(0, 220, 0, 0.3)'),\n\t                        steelseries.Section(101, 104, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(99, 101, 'rgba(0, 220, 0, 0.3)')],\n\n    radialBoil = new steelseries.Radial('canvasRadialBoil', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Boil\",\n            unitString: \"\",\n            threshold: 99.5,\n//            thresholdVisible: false,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n\t\t\tuserLedColor: steelseries.LedColor.RED_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 90,\n\t\t\tmaxValue : 104\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radialBoil.setValue(0);\n//    radialBoil.setThreshold(0);\n    radialBoil.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadialBoil\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":550,"y":500,"wires":[[]]},{"id":"87010ecd.483fa","type":"mqtt in","z":"f4588f45.fad92","name":"boil/status","topic":"boil/status","qos":"0","datatype":"auto","broker":"8a8f6b01.2362f8","x":100,"y":500,"wires":[["d97a2b56.ba25d8"]]},{"id":"d97a2b56.ba25d8","type":"json","z":"f4588f45.fad92","name":"","x":308,"y":500,"wires":[["f532cca1.50d7","bdd6dbc7.9dcbc8","dea38ae3.062628","5af55ed9.91753"]]},{"id":"bdd6dbc7.9dcbc8","type":"function","z":"f4588f45.fad92","name":"","func":"if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["1dd2e2f3.de6d4d"]]},{"id":"1dd2e2f3.de6d4d","type":"ui_template","z":"f4588f45.fad92","group":"b320ab50.207118","name":"Boil Time Bar","order":3,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":560,"y":700,"wires":[[]]},{"id":"adde081c.06e448","type":"ui_switch","z":"f4588f45.fad92","name":"boilReady","label":"Pronto ad iniziare","tooltip":"Completate tutte le azioni manuali","group":"b320ab50.207118","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":620,"y":640,"wires":[["47f143f0.b3f10c"]]},{"id":"47f143f0.b3f10c","type":"mqtt out","z":"f4588f45.fad92","name":"dashboard/boil/ready","topic":"dashboard/boil/ready","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":800,"y":640,"wires":[]},{"id":"e820fa04.3768e8","type":"mqtt out","z":"f4588f45.fad92","name":"dashboard/boil/setboil","topic":"dashboard/boil/setboil","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":800,"y":580,"wires":[]},{"id":"dea38ae3.062628","type":"function","z":"f4588f45.fad92","name":"","func":"msg.payload=msg.payload.tempTarget;\nreturn msg;","outputs":1,"noerr":0,"x":364.8368377685547,"y":581.4410552978516,"wires":[["8db12412.82e568"]]},{"id":"5af55ed9.91753","type":"function","z":"f4588f45.fad92","name":"","func":"msg.payload=msg.payload.status;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["b825e6a4.767748"]]},{"id":"5c032db1.4f7434","type":"ui_switch","z":"f4588f45.fad92","name":"spargeReady","label":"Pronto ad iniziare","tooltip":"Completate tutte le azioni manuali","group":"5f7c5d47.342e04","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":540,"y":180,"wires":[["a8dca465.c7d3e8"]]},{"id":"2f965a53.90be46","type":"ui_switch","z":"f4588f45.fad92","name":"mashReady","label":"Pronto ad iniziare","tooltip":"Completate tutte le azioni manuali","group":"8326e5bd.c36098","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":678.5554656982422,"y":394.2222595214844,"wires":[["b9bf23b4.1c765"]]},{"id":"52ec1c43.9fb8a4","type":"function","z":"f4588f45.fad92","name":"","func":"msg.payload=msg.payload.status;\nreturn msg;","outputs":1,"noerr":0,"x":398.5554656982422,"y":394.2222595214844,"wires":[["d7ad3b8d.c5bc48"]]},{"id":"c888ad6c.1d22f","type":"function","z":"f4588f45.fad92","name":"","func":"msg.payload=msg.payload.status;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["3d9fe6a7.ddf35a"]]},{"id":"a8dca465.c7d3e8","type":"mqtt out","z":"f4588f45.fad92","name":"dashboard/sparge/ready","topic":"dashboard/sparge/ready","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":790,"y":180,"wires":[]},{"id":"b9bf23b4.1c765","type":"mqtt out","z":"f4588f45.fad92","name":"dashboard/mash/ready","topic":"dashboard/mash/ready","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":888.5554656982422,"y":394.2222595214844,"wires":[]},{"id":"d7ad3b8d.c5bc48","type":"rbe","z":"f4588f45.fad92","name":"","func":"rbe","gap":"","start":"","inout":"out","x":520.7912673950195,"y":394.7535171508789,"wires":[["2f965a53.90be46"]]},{"id":"3d9fe6a7.ddf35a","type":"rbe","z":"f4588f45.fad92","name":"","func":"rbe","gap":"","start":"","inout":"out","x":359.23860931396484,"y":180.53124237060547,"wires":[["5c032db1.4f7434"]]},{"id":"b825e6a4.767748","type":"rbe","z":"f4588f45.fad92","name":"","func":"rbe","gap":"","start":"","inout":"out","x":490,"y":640,"wires":[["adde081c.06e448"]]},{"id":"acc051f.e1c3cb","type":"ui_template","z":"3e8f6df5.2db5c2","group":"8326e5bd.c36098","name":"stepMashTable","order":4,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n<span flex>Ricetta:</span>\n<span flex> {{msg.payload[0].ricetta}}</span>\n<span flex></span>\n<span flex>\n\t<md-button class=\"md-icon-button\" ng-click=\"send({topic: 'select * from Recipe'})\">\n\t\t<ng-md-icon icon=\"list\"></ng-md-icon>\n\t</md-button>\n</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Step</span>\n\t<span flex style=\"text-align : right;\">°C</span>\n\t<span flex style=\"text-align : right;\">Durata</span>\n\t<span flex>\n         <md-button class=\"md-icon-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n\t</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"step in msg.payload\">\n\t<span flex >{{step.desc}}</span>\n\t<span flex style=\"text-align : right;\">{{step.temp}}</span>\n\t<span flex style=\"text-align : right;\">{{step.time}}</span>\n\t<span flex >\n\t\t<md-button class=\"md-icon-button\" ng-click=\"send({payload: $index})\">\n\t\t     <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t    </md-button>\n\t</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":370.32269287109375,"y":456.88909912109375,"wires":[["e7ee829a.31b13"]]},{"id":"abeac032.5b0b3","type":"sqlite","z":"3e8f6df5.2db5c2","mydb":"7f45fe2.f6e01","sql":"","name":"jbbs","x":197.56663513183594,"y":372.1333312988281,"wires":[["acc051f.e1c3cb","8f22c3f9.e1305"]]},{"id":"4bc655d6.75ba2c","type":"ui_ui_control","z":"3e8f6df5.2db5c2","name":"openTab","x":660,"y":160,"wires":[[]]},{"id":"7b486d37.4dc934","type":"ui_template","z":"3e8f6df5.2db5c2","group":"4bb5349c.77c6ac","name":"RecipeTable","order":4,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Descrizione</span>\n\t<span flex></span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"recipe in msg.payload\">\n\t<span flex >{{recipe.id}}</span>\n\t<span flex >{{recipe.desc}}</span>\n\t<span flex >\n\t   <md-button class=\"md-icon-button\" ng-click=\"send({payload: recipe})\">\n\t        <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t   </md-button>\n\t</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":458.5332908630371,"y":219.75558757781982,"wires":[["e8b7c67f.dbdf88","c2a85b4a.9ec968"]]},{"id":"ad564b3c.0380b8","type":"function","z":"3e8f6df5.2db5c2","name":"Splitter","func":"var msgTab = { \"payload\" : \"Recipe\" }\nreturn [msg, msgTab];","outputs":"2","noerr":0,"x":464.90009689331055,"y":166.2000560760498,"wires":[["7b486d37.4dc934"],["4bc655d6.75ba2c"]]},{"id":"7a03ad58.c1bd34","type":"sqlite","z":"3e8f6df5.2db5c2","mydb":"7f45fe2.f6e01","sql":"","name":"jbbs","x":193.86666870117188,"y":222.42222595214844,"wires":[["ad564b3c.0380b8"]]},{"id":"e8b7c67f.dbdf88","type":"function","z":"3e8f6df5.2db5c2","name":"SelectMashSteps","func":"var msgTab = { \"payload\" : \"Jbbs\" };\n\n\nvar id = msg.payload.id;\n\nmsg.topic = \"select s.*, r.desc as 'ricetta' \";\nmsg.topic += \" from step as s \";\nmsg.topic += \" inner join recipe as r \";\nmsg.topic += \" on s.idRicetta =r.id \";\nmsg.topic += \" where s.idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn [msgTab, msg];","outputs":"2","noerr":0,"x":477.5333595275879,"y":265.75561809539795,"wires":[["4bc655d6.75ba2c"],["abeac032.5b0b3"]]},{"id":"c24560a2.20406","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/mash/start","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":820,"y":440,"wires":[]},{"id":"b1dfb336.a8219","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/mash/load","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":820,"y":380,"wires":[]},{"id":"8f22c3f9.e1305","type":"function","z":"3e8f6df5.2db5c2","name":"0=>False, 1=>True","func":"for (var ind in msg.payload) {\n    if (msg.payload[ind].pump === 0) {\n        msg.payload[ind].pump = false;\n    } else {\n        msg.payload[ind].pump = true;\n    }\n}\nreturn msg","outputs":"1","noerr":0,"x":448.8666343688965,"y":368.8666887283325,"wires":[["b1dfb336.a8219"]]},{"id":"15dafa57.395086","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/mash/stop","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":820,"y":500,"wires":[]},{"id":"bf38e24b.c1f45","type":"inject","z":"3e8f6df5.2db5c2","name":"","topic":"select * from Recipe","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":165.33331680297852,"y":122.7999677658081,"wires":[["7a03ad58.c1bd34"]]},{"id":"e7ee829a.31b13","type":"switch","z":"3e8f6df5.2db5c2","name":"Switch send","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":3,"x":559.2333106994629,"y":456.46667766571045,"wires":[["7a03ad58.c1bd34"],["c24560a2.20406"],["15dafa57.395086","6bc76cc.3a50d94"]]},{"id":"fa19e545.a53998","type":"ui_template","z":"3e8f6df5.2db5c2","group":"b320ab50.207118","name":"stepBoilTable","order":4,"width":"6","height":"4","format":"<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Step</span>\n\t<span flex style=\"text-align : right;\">Durata</span>\n\t<span flex>\n         <md-button class=\"md-icon-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n\t</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"step in msg.payload\">\n\t<span flex >{{step.desc}}</span>\n\t<span flex style=\"text-align : right;\">{{step.time}}</span>\n\t<span flex >\n\t\t<md-button class=\"md-icon-button\" ng-click=\"send({payload: $index})\">\n\t\t     <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t    </md-button>\n\t</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":440,"y":700,"wires":[["4e364c14.c10d64"]]},{"id":"9d813501.4f36f8","type":"sqlite","z":"3e8f6df5.2db5c2","mydb":"7f45fe2.f6e01","sql":"","name":"jbbs","x":730,"y":280,"wires":[["691b4232.054d6c"]]},{"id":"c2a85b4a.9ec968","type":"function","z":"3e8f6df5.2db5c2","name":"SelectBoilSteps","func":"var id = msg.payload.id;\n\nmsg.topic = \"select * \";\nmsg.topic += \" from boilstep \";\nmsg.topic += \" where idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn (msg);","outputs":"1","noerr":0,"x":700,"y":220,"wires":[["9d813501.4f36f8"]]},{"id":"b30415d8.a7a448","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/boil/start","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":810,"y":660,"wires":[]},{"id":"691b4232.054d6c","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/mash/loadboil","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":970,"y":260,"wires":[]},{"id":"2d2a8def.3e4392","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/boil/stop","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":810,"y":740,"wires":[]},{"id":"4e364c14.c10d64","type":"switch","z":"3e8f6df5.2db5c2","name":"Switch send","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":620,"y":700,"wires":[["b30415d8.a7a448"],["2d2a8def.3e4392"]]},{"id":"6bc76cc.3a50d94","type":"mqtt out","z":"3e8f6df5.2db5c2","name":"","topic":"dashboard/sparge/stop","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":820,"y":560,"wires":[]},{"id":"ae3991cd.b8e51","type":"mqtt in","z":"3e8f6df5.2db5c2","name":"mash/boil/load","topic":"mash/boil/load","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":150,"y":700,"wires":[["10ffd371.e3c05d"]]},{"id":"10ffd371.e3c05d","type":"json","z":"3e8f6df5.2db5c2","name":"","pretty":false,"x":290,"y":700,"wires":[["fa19e545.a53998"]]},{"id":"9446fe55.6d801","type":"ui_slider","z":"f4588f45.fad92","name":"","label":"Boil Temp","tooltip":"","group":"5f7c5d47.342e04","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"99","max":"101","step":"0.1","x":620,"y":580,"wires":[["e820fa04.3768e8"]]},{"id":"8db12412.82e568","type":"rbe","z":"f4588f45.fad92","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":580,"wires":[["9446fe55.6d801"]]},{"id":"85277d3a.1c2fc","type":"function","z":"f4588f45.fad92","name":"","func":"if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["350a827c.04b3ee"]]},{"id":"350a827c.04b3ee","type":"ui_template","z":"f4588f45.fad92","group":"5f7c5d47.342e04","name":"Sparge Time Bar","order":3,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":590,"y":120,"wires":[[]]},{"id":"544a55c9.7b9acc","type":"ui_button","z":"630ae554.57ba1c","name":"","group":"5f7c5d47.342e04","order":6,"width":"0","height":"0","passthru":false,"label":"Ricarica Ricetta Boil","tooltip":"Ricarica parte boil della ricetta","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":120,"wires":[["b9fa81b1.bad2e"]]},{"id":"b9fa81b1.bad2e","type":"mqtt out","z":"630ae554.57ba1c","name":"dashboard/mash/sendrecipe","topic":"dashboard/mash/sendrecipe","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":480,"y":120,"wires":[]},{"id":"50e6857b.5b695c","type":"ui_text","z":"630ae554.57ba1c","group":"5f7c5d47.342e04","order":5,"width":0,"height":0,"name":"","label":"Comandi Manuali","format":"{{msg.payload}}","layout":"row-center","x":210,"y":60,"wires":[]},{"id":"c16f5cb.08f43a","type":"ui_template","z":"630ae554.57ba1c","group":"5f7c5d47.342e04","name":"Set Status","order":8,"width":0,"height":0,"format":"<div>\n\t<span flex>Tun: </span>\n\t<span flex>\n\t\t<select ng-model=\"selectedTun\" \n\t\t\t\tng-options='x.label for x in [ {label: \"Sparge\", nome:\"sparge\"},\n                                               {label: \"Boil\", nome:\"boil\"}]'>\n\t\t</select>\n\t</span>\n\t<span flex>Stato: </span>\n\t\t<select ng-model=\"selectedState\" \n\t\t\t\tng-options='x.label for x in [  {label: \"Warm./Fill.\", stato: 2},\n\t\t\t\t                                {label: \"Hot/Preboil\", stato: 3},\n\t\t\t\t                                {label: \"Sparging\", stato: 4}]'>\n\t\t</select>\n\t</span>\n\t<span flex >\n\t   <md-button class=\"md-icon-button\" ng-click=\"send({topic: 'dashboard/' + selectedTun.nome + '/setstatus', payload: selectedState.stato})\">\n\t        <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t   </md-button>\n\t</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":190,"y":200,"wires":[["209110f9.a20b5"]]},{"id":"209110f9.a20b5","type":"mqtt out","z":"630ae554.57ba1c","name":"","topic":"","qos":"","retain":"","broker":"8a8f6b01.2362f8","x":410,"y":200,"wires":[]}]