flows.json
[{"id":"dbc238ff.c9dbe8","type":"tab","label":"Proiettore","disabled":false,"info":""},{"id":"37e0f499.da808c","type":"tab","label":"Monitor temperatura"},{"id":"f7138710.88e578","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fdca1072.b74db","type":"ui_group","z":"","name":"Casa","tab":"951d23c5.1ba94","disp":false,"width":"6","collapse":false},{"id":"8a8f6b01.2362f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"951d23c5.1ba94","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"bb63334a.27859","type":"ui_tab","z":"37e0f499.da808c","name":"Alexa","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee195180.e092e","type":"ui_group","z":"","name":"Portico","tab":"951d23c5.1ba94","disp":false,"width":"6","collapse":false},{"id":"a59913e2.211e4","type":"ui_group","z":"37e0f499.da808c","name":"Alexa","tab":"bb63334a.27859","disp":false,"width":5,"collapse":false},{"id":"63062a51.a99584","type":"ui_group","z":"37e0f499.da808c","name":"Alexa2","tab":"bb63334a.27859","disp":false,"width":5,"collapse":false},{"id":"df0ab033.4ccaf","type":"mqtt in","z":"dbc238ff.c9dbe8","name":"","topic":"bridge_ir/tele/RESULT","qos":"2","datatype":"json","broker":"8a8f6b01.2362f8","x":140,"y":360,"wires":[["a7f73d2c.b30c2"]]},{"id":"60eae1ba.6b60f","type":"mqtt out","z":"dbc238ff.c9dbe8","name":"MQTT Out","topic":"","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":1090,"y":320,"wires":[]},{"id":"a7f73d2c.b30c2","type":"switch","z":"dbc238ff.c9dbe8","name":"Telecomando","property":"payload.IrReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"0x000CF20D","vt":"str"},{"t":"eq","v":"0x000C728D","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":360,"wires":[["289c304e.287d8"],["52688d90.419324"]],"info":"0x000CF20D => on\n0x000C728D => off\n0x000C847B => play/pause\n0x000C55AA => stop\n0x000C28D7 => mute on/off\n0x000CC13E => vol down\n0x000C41BE => vol up"},{"id":"81472951.dab988","type":"delay","z":"dbc238ff.c9dbe8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":280,"wires":[["60eae1ba.6b60f"]]},{"id":"818a031e.24d06","type":"function","z":"dbc238ff.c9dbe8","name":"Spengo Stereo","func":"msg1 = {};\n// bisogna inviare l'MQTT per il Sonoff\nmsg1.topic = \"bridge_ir/cmnd/irsend\";\nmsg1.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"};// StandBy\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":620,"y":580,"wires":[["60eae1ba.6b60f"]]},{"id":"84bcc139.f89dc","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"fdca1072.b74db","order":0,"width":0,"height":0,"label":"Temperatura di Casa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":580,"y":160,"wires":[[]]},{"id":"acdd5f01.e025e","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"fdca1072.b74db","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Gradi","format":"{{value}}","min":"10","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"16","seg2":"26","x":570,"y":260,"wires":[]},{"id":"db0385e6.e91bf8","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura sala","topic":"bridge_ir/tele/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":100,"y":240,"wires":[["59a5105d.9e3db"]]},{"id":"59a5105d.9e3db","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":240,"wires":[["4d0d77a0.0a3948"]]},{"id":"4d0d77a0.0a3948","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":240,"wires":[["84bcc139.f89dc","acdd5f01.e025e","f88fb998.05e6d8"],["34a47040.e3971"]]},{"id":"34a47040.e3971","type":"ui_text","z":"37e0f499.da808c","group":"fdca1072.b74db","order":0,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload}}","layout":"col-center","x":580,"y":300,"wires":[]},{"id":"73fc4a15.36e5d4","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"ee195180.e092e","order":0,"width":0,"height":0,"label":"Temperatura Portico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":580,"y":360,"wires":[[]]},{"id":"f75b0560.0eddf8","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"ee195180.e092e","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Gradi","format":"{{value}}","min":"-5","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"10","seg2":"26","x":570,"y":440,"wires":[]},{"id":"cb40c6a0.045638","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura Portico","topic":"portico/tele/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":110,"y":440,"wires":[["2bc96230.79b66e"]]},{"id":"2bc96230.79b66e","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":440,"wires":[["4623b34e.0eabac"]]},{"id":"4623b34e.0eabac","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":440,"wires":[["73fc4a15.36e5d4","f75b0560.0eddf8","bac890d.d51067"],["75532831.fe4c38"]]},{"id":"75532831.fe4c38","type":"ui_text","z":"37e0f499.da808c","group":"ee195180.e092e","order":0,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload}}","layout":"col-center","x":580,"y":500,"wires":[]},{"id":"f88fb998.05e6d8","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"a59913e2.211e4","order":1,"width":0,"height":0,"gtype":"gage","title":"Sala","label":"Gradi","format":"{{value}}","min":"10","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"16","seg2":"26","x":570,"y":220,"wires":[]},{"id":"bac890d.d51067","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"63062a51.a99584","order":1,"width":0,"height":0,"gtype":"gage","title":"Portico","label":"Gradi","format":"{{value}}","min":"-5","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"10","seg2":"26","x":570,"y":400,"wires":[]},{"id":"52688d90.419324","type":"function","z":"dbc238ff.c9dbe8","name":"Chiudo schermo","func":"msg = {};\nmsg.topic = \"shellies/schermo/roller/0/command\";\nmsg.payload = \"open\";\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["818a031e.24d06","60eae1ba.6b60f"]]},{"id":"289c304e.287d8","type":"function","z":"dbc238ff.c9dbe8","name":"Apro schermo","func":"msg = {};\nmsg.topic = \"shellies/schermo/roller/0/command\";\nmsg.payload = \"close\";\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["96509290.9560e","60eae1ba.6b60f"]]},{"id":"454323e5.57d67c","type":"wemo-emulator","z":"dbc238ff.c9dbe8","name":"Cinema","friendlyName":"Cinema","serial":"Cinema","port":"38009","onTopic":"","onPayload":"","offTopic":"","offPayload":"","x":170,"y":300,"wires":[["891850f0.98afb"]]},{"id":"891850f0.98afb","type":"switch","z":"dbc238ff.c9dbe8","name":"Comando Alexa","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":300,"wires":[["705ced9a.479154"],["275b66e4.6657fa"]],"info":"0x000CF20D => on\n0x000C728D => off"},{"id":"96509290.9560e","type":"function","z":"dbc238ff.c9dbe8","name":"Accendo Stereo","func":"msg = {};\n\n// bisogna inviare l'MQTT per il Sonoff\nmsg.topic = \"bridge_ir/cmnd/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"};// StandBy\nnode.send(msg);\n\n// Accendo il pre\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"};// StandBy\nnode.send(msg);\n\n// Seleziono l'ingresso Aux\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D230CF\"};// Aux 1\nreturn (msg);\n\n","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["81472951.dab988"]]},{"id":"705ced9a.479154","type":"function","z":"dbc238ff.c9dbe8","name":"Accendo Proiettore","func":"msg = {};\n\n// bisogna inviare l'MQTT per il Sonoff\nmsg.topic = \"bridge_ir/cmnd/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000CF20D\"};// StandBy\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["60eae1ba.6b60f","289c304e.287d8"]]},{"id":"275b66e4.6657fa","type":"function","z":"dbc238ff.c9dbe8","name":"Spengo Proiettore","func":"msg = {};\n\nmsg.topic = \"bridge_ir/cmnd/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000C728D\"};// StandBy\n\n// Simulo primo invio comando off telecomando\nnode.send(msg);\n\n// Simulo secondo invio comando off telecomando\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["cd3aa272.d65ea","52688d90.419324"]]},{"id":"cd3aa272.d65ea","type":"delay","z":"dbc238ff.c9dbe8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":360,"wires":[["60eae1ba.6b60f"]]},{"id":"1e11997c.38f9d7","type":"castv2-sender","z":"dbc238ff.c9dbe8","name":"Chromecast Proiettore","host":"","x":400,"y":680,"wires":[["89d3ba78.433af8"]]},{"id":"89d3ba78.433af8","type":"function","z":"dbc238ff.c9dbe8","name":"CromecastSaveState","func":"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":640,"wires":[[]]}]