flows.json
[{"id":"813c77b8.a5ac48","type":"tab","label":"Irrigazione","disabled":false,"info":""},{"id":"37e0f499.da808c","type":"tab","label":"[Home] Monitor temperatura","disabled":false,"info":""},{"id":"d68fa27.2876e6","type":"tab","label":"[Home] Dispositivi Alexa","disabled":false,"info":""},{"id":"dbc238ff.c9dbe8","type":"tab","label":"[Cinema] Proiettore","disabled":false,"info":""},{"id":"ea6ff288.84fe1","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"fa7c93e1.602cd","type":"tab","label":"[Cinema] Codici telecomando","disabled":true,"info":""},{"id":"ac0758f.9736ea8","type":"tab","label":"Test","disabled":true,"info":""},{"id":"e1a055ea.794428","type":"subflow","name":"Accendo Stereo","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"42754f0e.70a9b"}]}],"out":[{"x":660,"y":40,"wires":[{"id":"3f9006cf.2406aa","port":0}]},{"x":660,"y":120,"wires":[{"id":"7d5e1f05.ecb26","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["ToMQTT","ToNextNode"]},{"id":"fead3688.ada028","type":"subflow","name":"Spengo Stereo","info":"","category":"","in":[{"x":140,"y":180,"wires":[{"id":"3ea864da.bacd8c"}]}],"out":[{"x":460,"y":140,"wires":[{"id":"3ea864da.bacd8c","port":0}]},{"x":460,"y":220,"wires":[{"id":"3ea864da.bacd8c","port":1}]}],"env":[],"color":"#DDAA99","outputLabels":["ToMQTT","ToNextNode"]},{"id":"32c8bda3.a61c22","type":"subflow","name":"Accendo Cinema","info":"","category":"","in":[{"x":120,"y":160,"wires":[{"id":"1686fdcb.0460f2"},{"id":"c25fb922.b7fb18"},{"id":"5b7d38f9.03b348"}]}],"out":[{"x":720,"y":60,"wires":[{"id":"1686fdcb.0460f2","port":0},{"id":"c25fb922.b7fb18","port":0},{"id":"5b7d38f9.03b348","port":0},{"id":"31d44edf.5f5fe2","port":0}]},{"x":720,"y":260,"wires":[{"id":"5dce329f.ed86fc","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["ToMQTT","ToNextNode"]},{"id":"a3b86765.52e488","type":"subflow","name":"Spengo Cinema","info":"","category":"","in":[{"x":200,"y":160,"wires":[{"id":"f9c3defe.16507"},{"id":"369ee59a.9fb31a"},{"id":"79e1b740.713258"}]}],"out":[{"x":826,"y":180,"wires":[{"id":"d5316caa.51595","port":0},{"id":"f9c3defe.16507","port":0},{"id":"369ee59a.9fb31a","port":0}]},{"x":826,"y":280,"wires":[{"id":"951b232d.91e76","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["ToMQTT","ToNextNode"]},{"id":"f7138710.88e578","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fdca1072.b74db","type":"ui_group","z":"","name":"Cisterna","tab":"9e34eed4.4405a","order":1,"disp":true,"width":6,"collapse":false},{"id":"8a8f6b01.2362f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"951d23c5.1ba94","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ee195180.e092e","type":"ui_group","z":"","name":"Portico","tab":"951d23c5.1ba94","order":2,"disp":false,"width":"6","collapse":false},{"id":"c99d0734.21edf8","type":"telegram bot","z":"","botname":"Peppolandia","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"3136e504.20cf7a","type":"telegram bot","z":"","botname":"jbbs","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"9602596b.e94ce8","type":"alexa-remote-account","z":"","name":"Maurizio","authMethod":"proxy","proxyOwnIp":"homeserver.local","proxyPort":"3456","cookieFile":"/data/alexa","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"d6cf49d.defe4b8","type":"ui_group","z":"","name":"Test","tab":"36d0f1ac.6e8f0e","order":1,"disp":true,"width":"20","collapse":false},{"id":"36d0f1ac.6e8f0e","type":"ui_tab","z":"","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"c69ae3e6.b2fb4","type":"ui_group","z":"","name":"Gate #2","tab":"42005dbf.9250a4","order":2,"disp":true,"width":"6","collapse":false},{"id":"5bf0d87e.ce7c18","type":"ui_group","z":"","name":"Gate #1","tab":"42005dbf.9250a4","order":1,"disp":true,"width":"6","collapse":false},{"id":"42005dbf.9250a4","type":"ui_tab","z":"","d":true,"name":"Home2","icon":"dashboard","disabled":false,"hidden":false},{"id":"38c75ac5.f7e016","type":"ui_group","z":"","name":"Orto","tab":"951d23c5.1ba94","order":3,"disp":false,"width":"6","collapse":false},{"id":"9e34eed4.4405a","type":"ui_tab","z":"","name":"Irrigazione","icon":"dashboard","disabled":false,"hidden":false},{"id":"a8570b6.cf410f8","type":"ui_group","z":"","name":"Casa","tab":"951d23c5.1ba94","order":3,"disp":false,"width":"6","collapse":false},{"id":"bbd0fa69.6a8cc8","type":"ui_group","z":"","name":"Pompa","tab":"9e34eed4.4405a","order":3,"disp":true,"width":5,"collapse":false},{"id":"b1d21c37.8dbaa","type":"ui_group","z":"","name":"Irrigazione Orto","tab":"9e34eed4.4405a","order":3,"disp":true,"width":5,"collapse":false},{"id":"df0ab033.4ccaf","type":"mqtt in","z":"dbc238ff.c9dbe8","name":"","topic":"tele/bridge_ir/RESULT","qos":"2","datatype":"json","broker":"8a8f6b01.2362f8","x":120,"y":360,"wires":[["a7f73d2c.b30c2"]]},{"id":"60eae1ba.6b60f","type":"mqtt out","z":"dbc238ff.c9dbe8","name":"MQTT Out","topic":"","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":970,"y":280,"wires":[]},{"id":"a7f73d2c.b30c2","type":"switch","z":"dbc238ff.c9dbe8","name":"Telecomando","property":"payload.IrReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"0x000CF20D","vt":"str"},{"t":"eq","v":"0x000C728D","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":360,"wires":[["85ea4888.09a208"],["d82b7cba.33332"]],"outputLabels":["Accendo","Spengo"],"info":"0x000CF20D => on\n0x000C728D => off\n0x000C847B => play/pause\n0x000C55AA => stop\n0x000C28D7 => mute on/off\n0x000CC13E => vol down\n0x000C41BE => vol up"},{"id":"84bcc139.f89dc","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"a8570b6.cf410f8","order":1,"width":0,"height":0,"label":"Temperatura di Casa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":180,"wires":[[]]},{"id":"db0385e6.e91bf8","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura sala","topic":"tele/bridge_ir/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":100,"y":240,"wires":[["59a5105d.9e3db"]]},{"id":"59a5105d.9e3db","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":240,"wires":[["4d0d77a0.0a3948"]]},{"id":"4d0d77a0.0a3948","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":240,"wires":[["84bcc139.f89dc","f88fb998.05e6d8"],["34a47040.e3971"]]},{"id":"34a47040.e3971","type":"ui_text","z":"37e0f499.da808c","group":"a8570b6.cf410f8","order":3,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload | date: 'h:mm:ss'}}","layout":"col-center","x":580,"y":300,"wires":[]},{"id":"73fc4a15.36e5d4","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"ee195180.e092e","order":1,"width":0,"height":0,"label":"Temperatura Portico","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":380,"wires":[[]]},{"id":"cb40c6a0.045638","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura Portico","topic":"tele/portico/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":110,"y":440,"wires":[["2bc96230.79b66e"]]},{"id":"2bc96230.79b66e","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":440,"wires":[["4623b34e.0eabac"]]},{"id":"4623b34e.0eabac","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":440,"wires":[["73fc4a15.36e5d4","bac890d.d51067"],["75532831.fe4c38"]]},{"id":"75532831.fe4c38","type":"ui_text","z":"37e0f499.da808c","group":"ee195180.e092e","order":3,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload | date: 'h:mm:ss'}}","layout":"col-center","x":580,"y":500,"wires":[]},{"id":"f88fb998.05e6d8","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"a8570b6.cf410f8","order":2,"width":0,"height":0,"gtype":"gage","title":"Sala","label":"Gradi","format":"{{value}}","min":"10","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"16","seg2":"26","x":570,"y":240,"wires":[]},{"id":"bac890d.d51067","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"ee195180.e092e","order":2,"width":0,"height":0,"gtype":"gage","title":"Portico","label":"Gradi","format":"{{value}}","min":"-5","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"10","seg2":"26","x":570,"y":440,"wires":[]},{"id":"891850f0.98afb","type":"switch","z":"dbc238ff.c9dbe8","name":"Comando Alexa","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":300,"wires":[["85ea4888.09a208"],["d82b7cba.33332"]],"outputLabels":["Accendo","Spengo"],"info":"0x000CF20D => on\n0x000C728D => off"},{"id":"7815c2c3.41c6fc","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Standby","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"}","payloadType":"json","x":230,"y":220,"wires":[["65a256e9.6115f8"]]},{"id":"65a256e9.6115f8","type":"mqtt out","z":"fa7c93e1.602cd","name":"","topic":"","qos":"","retain":"","broker":"8a8f6b01.2362f8","x":500,"y":200,"wires":[]},{"id":"f93b3082.1996b","type":"inject","z":"fa7c93e1.602cd","name":"Proiettore/On","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000CF20D\"}","payloadType":"json","x":210,"y":80,"wires":[["65a256e9.6115f8"]]},{"id":"7028eecd.fb041","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Mute","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D20AF5\"}","payloadType":"json","x":220,"y":400,"wires":[["65a256e9.6115f8"]]},{"id":"67e80fde.8f41f","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Aux1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D230CF\"}","payloadType":"json","x":220,"y":340,"wires":[["65a256e9.6115f8"]]},{"id":"7e50d2d3.a21f9c","type":"inject","z":"fa7c93e1.602cd","name":"Pre/Cd","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D210EF\"}","payloadType":"json","x":210,"y":280,"wires":[["65a256e9.6115f8"]]},{"id":"4b58c486.805d2c","type":"inject","z":"fa7c93e1.602cd","name":"Proiettore/Off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bridge_ir/cmnd/irsend","payload":"{\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000C728D\"}","payloadType":"json","x":210,"y":120,"wires":[["65a256e9.6115f8"]]},{"id":"d252c836.a31c98","type":"mqtt out","z":"d68fa27.2876e6","name":"MQTT Out","topic":"","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":950,"y":60,"wires":[]},{"id":"3f9e1867.ba5b38","type":"telegram sender","z":"ea6ff288.84fe1","name":"da Peppolandia","bot":"c99d0734.21edf8","x":640,"y":100,"wires":[[]]},{"id":"7fa43aee.802b94","type":"function","z":"ea6ff288.84fe1","name":"Messaggio a Peppolandia Gruppo)","func":"msg.payload = {chatId:-452025616,type:\"message\",\"content\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["3f9e1867.ba5b38"]]},{"id":"87eb2e5e.2f2c8","type":"mqtt in","z":"ea6ff288.84fe1","name":"","topic":"telegram/notify","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":120,"y":100,"wires":[["7fa43aee.802b94"]]},{"id":"cfcbaa07.c626e8","type":"mqtt in","z":"ea6ff288.84fe1","name":"","topic":"telegram/jbbs","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":110,"y":260,"wires":[["1b9d09e7.5a8b26"]]},{"id":"1b9d09e7.5a8b26","type":"function","z":"ea6ff288.84fe1","name":"a Don Biffero","func":"msg.payload = {chatId:453108775,type:\"message\",\"content\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["cdcd2ed6.6986a"]]},{"id":"cdcd2ed6.6986a","type":"telegram sender","z":"ea6ff288.84fe1","name":"da Jbbs","bot":"3136e504.20cf7a","x":500,"y":260,"wires":[[]]},{"id":"f21ce6cd.aecb48","type":"ui_template","z":"ac0758f.9736ea8","group":"d6cf49d.defe4b8","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":420,"y":220,"wires":[[]]},{"id":"fc08f735.640c68","type":"inject","z":"ac0758f.9736ea8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"MEQ0451495\",\"room\":\"Bathroom\",\"SET_TEMPERATURE-value\":22,\"ACTUAL_TEMPERATURE-value\":21.8,\"VALVE_STATE-value\":90,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":true,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875547\",\"room\":\"Living Room\",\"SET_TEMPERATURE-value\":12,\"ACTUAL_TEMPERATURE-value\":16.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":1},{\"name\":\"MEQ1875538\",\"room\":\"Living Room\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":19.5,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.6,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":2},{\"name\":\"MEQ0447462\",\"room\":\"Kitchen\",\"SET_TEMPERATURE-value\":17,\"ACTUAL_TEMPERATURE-value\":22.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":10,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":3},{\"name\":\"MEQ1875551\",\"room\":\"Office\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":20.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ0447425\",\"room\":\"Dining Room\",\"SET_TEMPERATURE-value\":19,\"ACTUAL_TEMPERATURE-value\":20.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875546\",\"room\":\"Dining Room\",\"SET_TEMPERATURE-value\":20,\"ACTUAL_TEMPERATURE-value\":18.8,\"VALVE_STATE-value\":99,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ0447483\",\"room\":\"Bedroom\",\"SET_TEMPERATURE-value\":17,\"ACTUAL_TEMPERATURE-value\":22.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875541\",\"room\":\"Child\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":20.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875552\",\"room\":\"Guest Room\",\"SET_TEMPERATURE-value\":20,\"ACTUAL_TEMPERATURE-value\":21.1,\"VALVE_STATE-value\":9,\"BATTERY_STATE-value\":2.8,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0}]","payloadType":"json","x":130,"y":300,"wires":[["4465bbe6.2e8724"]]},{"id":"4465bbe6.2e8724","type":"change","z":"ac0758f.9736ea8","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ROom\",\"field\":\"room\",\"width\":100,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Device\",\"field\":\"name\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Type\",\"field\":\"deviceType\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Measurements\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"target\",\"field\":\"SET_TEMPERATURE-value\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'°C';}\",\"topCalc\":\"avg\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":10,\"max\":25,\"color\":[\"blue\",\"green\",\"red\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'°C';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"current\",\"field\":\"ACTUAL_TEMPERATURE-value\",\"formatter\":\"progress\",\"topCalc\":\"avg\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":99,\"color\":[\"gray\",\"orange\",\"red\"],\"legend\":\"function (value) {return (value>0)? '&nbsp;&nbsp;'+value+' %' : '-';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Valve\",\"field\":\"VALVE_STATE-value\",\"formatter\":\"progress\",\"topCalc\":\"max\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":1.5,\"max\":4.6,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return value+' V';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Batt\",\"field\":\"BATTERY_STATE-value\",\"formatter\":\"progress\",\"topCalc\":\"min\",\"width\":100}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Settings\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":30,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {     if (value>0)         return \\\"<span style='color:#101010;'>\\\"+value+\\\" min</span>\\\";     else         return \\\"<span style='color:#A0A0A0;'>aus</span>\\\"; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Boost\",\"field\":\"BOOST_STATE-value\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"allowEmpty\":true,\"allowTruthy\":true,\"tickElement\":\"<i class='fa fa-clock-o'></i>\",\"crossElement\":\"<i class='fa fa-ban'></i>\"},\"title\":\"Auto\",\"field\":\"AUTO_MODE-value\",\"formatter\":\"tickCross\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Mode\",\"field\":\"CONTROL_MODE-value\",\"formatter\":\"function(cell, formatterParams, onRendered){     var html=\\\"<i class=\\\\\\\"\\\";     switch(cell.getValue()) {         case 0: html+=\\\"fa fa-calendar-check-o\\\"; break;         case 1: html+=\\\"fa fa-hand-o-up\\\"; break;         case 2: html+=\\\"fa fa-suitcase\\\"; break;         case 3: html+=\\\"fa fa-spinner fa-spin fa-fw\\\"; break;     }     html+='\\\\\\\"></i>';     return html; }\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Auto\",\"field\":\"AUTO_MODE-value\",\"formatter\":\"tick\",\"width\":100,\"align\":\"center\"}]}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"},\"customHeight\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":276,"y":300,"wires":[["14742f7c.8ad971"]]},{"id":"edde66ab.790e48","type":"debug","z":"ac0758f.9736ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":589,"y":300,"wires":[]},{"id":"14742f7c.8ad971","type":"ui_table","z":"ac0758f.9736ea8","group":"","name":"Thermostats","order":1,"width":"20","height":"7","columns":[],"outputs":1,"cts":true,"x":439,"y":300,"wires":[["edde66ab.790e48"]]},{"id":"2d56d66a.1f67aa","type":"gate","z":"ac0758f.9736ea8","name":"gate 1","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","x":390,"y":400,"wires":[["58353365.5ee92c"]]},{"id":"227c4c9b.336584","type":"status","z":"ac0758f.9736ea8","name":"status 1","scope":["2d56d66a.1f67aa"],"x":530,"y":440,"wires":[["f3449411.96e8d8","91170769.d0a338"]]},{"id":"7eaca0e3.8dce7","type":"inject","z":"ac0758f.9736ea8","name":"timestamp","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":360,"wires":[["49da0552.4ed27c"]]},{"id":"37de58d6.e55758","type":"gate","z":"ac0758f.9736ea8","name":"gate 2","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","x":390,"y":580,"wires":[["74f8c5bf.9d75cc"]]},{"id":"1f6150ad.07b6ff","type":"ui_switch","z":"ac0758f.9736ea8","name":"open/close","label":"open/close","group":"c69ae3e6.b2fb4","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"control","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":230,"y":600,"wires":[["37de58d6.e55758"]]},{"id":"456e85a.cf9207c","type":"ui_button","z":"ac0758f.9736ea8","name":"toggle","group":"5bf0d87e.ce7c18","order":3,"width":0,"height":0,"passthru":true,"label":"toggle","color":"","bgcolor":"","icon":"","payload":"toggle","payloadType":"str","topic":"control","x":250,"y":400,"wires":[["2d56d66a.1f67aa"]]},{"id":"e540cbfd.09bc58","type":"ui_button","z":"ac0758f.9736ea8","name":"reset","group":"5bf0d87e.ce7c18","order":4,"width":0,"height":0,"passthru":true,"label":"reset","color":"","bgcolor":"","icon":"","payload":"default","payloadType":"str","topic":"control","x":250,"y":440,"wires":[["2d56d66a.1f67aa"]]},{"id":"49da0552.4ed27c","type":"ui_button","z":"ac0758f.9736ea8","name":"message 1","group":"5bf0d87e.ce7c18","order":5,"width":0,"height":0,"passthru":true,"label":"Send","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"anything","x":230,"y":360,"wires":[["2d56d66a.1f67aa"]]},{"id":"a3b4cc1e.b8f5","type":"ui_button","z":"ac0758f.9736ea8","name":"message 2","group":"c69ae3e6.b2fb4","order":4,"width":0,"height":0,"passthru":false,"label":"Send","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":560,"wires":[["37de58d6.e55758"]]},{"id":"58353365.5ee92c","type":"ui_text","z":"ac0758f.9736ea8","group":"5bf0d87e.ce7c18","order":2,"width":0,"height":0,"name":"display 1","label":"Message","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":400,"wires":[]},{"id":"f3449411.96e8d8","type":"ui_text","z":"ac0758f.9736ea8","group":"5bf0d87e.ce7c18","order":1,"width":0,"height":0,"name":"status 1","label":"Status","format":"{{msg.status.text}}","layout":"row-spread","x":680,"y":440,"wires":[]},{"id":"74f8c5bf.9d75cc","type":"ui_text","z":"ac0758f.9736ea8","group":"c69ae3e6.b2fb4","order":2,"width":0,"height":0,"name":"display 2","label":"Message","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":580,"wires":[]},{"id":"a6a77042.901ce","type":"ui_text","z":"ac0758f.9736ea8","group":"c69ae3e6.b2fb4","order":1,"width":0,"height":0,"name":"status 2","label":"Status","format":"{{msg.status.text}}","layout":"row-spread","x":660,"y":620,"wires":[]},{"id":"7763194b.022848","type":"inject","z":"ac0758f.9736ea8","name":"timestamp","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":560,"wires":[["a3b4cc1e.b8f5"]]},{"id":"8307f8a6.04eaa8","type":"status","z":"ac0758f.9736ea8","name":"status 2","scope":["37de58d6.e55758"],"x":530,"y":620,"wires":[["a6a77042.901ce"]]},{"id":"5f4fe756.f7a968","type":"inject","z":"ac0758f.9736ea8","name":"toggle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":400,"wires":[["456e85a.cf9207c"]]},{"id":"b2e878dd.8d29b8","type":"inject","z":"ac0758f.9736ea8","name":"reset","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":440,"wires":[["e540cbfd.09bc58"]]},{"id":"91170769.d0a338","type":"debug","z":"ac0758f.9736ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","x":690,"y":480,"wires":[]},{"id":"42754f0e.70a9b","type":"function","z":"e1a055ea.794428","name":"Accendo Stereo","func":"msg = {};\nmsg1 = {};\n// accendo il sonoff per il Sonoff\nmsg.topic = \"cmnd/switchstereo/POWER\";\nmsg.payload = \"1\"\n\n// Accendo il pre\n// StandBy\nmsg1.topic = \"cmnd/bridge_ir/irsend\";\nmsg1.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D22AD5\"};\n\nreturn [[msg, msg1],{}];\n\n","outputs":2,"noerr":0,"x":280,"y":80,"wires":[["3f9006cf.2406aa"],["7d5e1f05.ecb26"]],"outputLabels":["ToMQTT","ToNextNode"]},{"id":"3f9006cf.2406aa","type":"delay","z":"e1a055ea.794428","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":40,"wires":[[]]},{"id":"7d5e1f05.ecb26","type":"delay","z":"e1a055ea.794428","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":120,"wires":[[]]},{"id":"d26f59fc.9fd1d8","type":"switch","z":"d68fa27.2876e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":160,"wires":[["d7c81b85.6cc8a8"],["de0e38e.43ee0c8"]]},{"id":"de0e38e.43ee0c8","type":"subflow:e1a055ea.794428","z":"d68fa27.2876e6","name":"","env":[],"x":520,"y":180,"wires":[["d252c836.a31c98"],[]]},{"id":"97b54e53.c62e9","type":"amazon-echo-hub","z":"d68fa27.2876e6","port":"8080","processinput":"1","discovery":true,"x":130,"y":60,"wires":[["1d3c23f1.7a39bc","5929308c.af954","3d813eb8.9b5bb2","1d01691a.33f567"]]},{"id":"1d3c23f1.7a39bc","type":"amazon-echo-device","z":"d68fa27.2876e6","name":"Stereo","topic":"","x":170,"y":160,"wires":[["d26f59fc.9fd1d8"]]},{"id":"3ea864da.bacd8c","type":"function","z":"fead3688.ada028","name":"Spengo Stereo","func":"msg = {};\n\n// Shutdown di volumio\n\n// spengo il sonoff dello stereo\nmsg.topic = \"cmnd/switchstereo/POWER\";\nmsg.payload = \"0\";\n\nreturn [msg, {}];","outputs":2,"noerr":0,"x":300,"y":180,"wires":[[],[]],"outputLabels":["ToMQTT","ToNextNode"]},{"id":"d7c81b85.6cc8a8","type":"subflow:fead3688.ada028","z":"d68fa27.2876e6","name":"","env":[],"x":520,"y":140,"wires":[["d252c836.a31c98"],[]]},{"id":"5929308c.af954","type":"amazon-echo-device","z":"d68fa27.2876e6","name":"Pedonale","topic":"","x":160,"y":300,"wires":[["283960ad.f5f37"]]},{"id":"5b48c0a8.bfaf3","type":"delay","z":"d68fa27.2876e6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":260,"wires":[["d252c836.a31c98"]]},{"id":"eafa2385.f93f4","type":"function","z":"d68fa27.2876e6","name":"","func":"msgOn = {};\nmsgOn.topic = msg[\"topic\"]; \nmsgOn. payload = \"1\";\n\nmsgOff = {};\nmsgOff.topic = msg[\"topic\"]; \nmsgOff. payload = \"0\";\n\nmsgHub = {};\nmsgHub.payload = {\n        on: false,\n        nodeid: msg[\"deviceid\"]\n    };\n\nreturn [[msgOn, msgOff], msgHub];","outputs":2,"noerr":0,"x":510,"y":280,"wires":[["5b48c0a8.bfaf3","c5c2493e.ac8338","49f35cb8.6fbe04"],["f81ded0a.90e1b"]]},{"id":"f81ded0a.90e1b","type":"delay","z":"d68fa27.2876e6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":300,"wires":[["97b54e53.c62e9"]]},{"id":"1d01691a.33f567","type":"amazon-echo-device","z":"d68fa27.2876e6","name":"Cancello","topic":"","x":160,"y":260,"wires":[["65ecff26.41516"]]},{"id":"65ecff26.41516","type":"change","z":"d68fa27.2876e6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/switchcancello/POWER1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":260,"wires":[["eafa2385.f93f4"]]},{"id":"283960ad.f5f37","type":"change","z":"d68fa27.2876e6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/switchcancello/POWER2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["eafa2385.f93f4"]]},{"id":"c25fb922.b7fb18","type":"function","z":"32c8bda3.a61c22","name":"Apro schermo","func":"msg = {};\nmsg.topic = \"shellies/schermo/roller/0/command\";\nmsg.payload = \"close\";\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":120,"wires":[[]]},{"id":"31d44edf.5f5fe2","type":"function","z":"32c8bda3.a61c22","name":"Stereo - AUX","func":"msg = {};\n// Seleziono l'ingresso Aux\nmsg.topic = \"cmnd/bridge_ir/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x24D230CF\"};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["5dce329f.ed86fc"]]},{"id":"1686fdcb.0460f2","type":"function","z":"32c8bda3.a61c22","name":"Accendo Proiettore","func":"msg = {};\n\n// bisogna inviare l'MQTT per il Sonoff\nmsg.topic = \"cmnd/bridge_ir/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000CF20D\"};// StandBy\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":60,"wires":[[]]},{"id":"5b7d38f9.03b348","type":"subflow:e1a055ea.794428","z":"32c8bda3.a61c22","name":"","x":380,"y":180,"wires":[[],["31d44edf.5f5fe2"]]},{"id":"43a95278.8976ec","type":"subflow:32c8bda3.a61c22","z":"dbc238ff.c9dbe8","name":"","x":690,"y":260,"wires":[["60eae1ba.6b60f"],["6498a9f1.6d5098"]]},{"id":"f9c3defe.16507","type":"function","z":"a3b86765.52e488","name":"Chiudo schermo","func":"msg = {};\nmsg.topic = \"shellies/schermo/roller/0/command\";\nmsg.payload = \"open\";\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":200,"wires":[[]]},{"id":"79e1b740.713258","type":"function","z":"a3b86765.52e488","name":"Spengo Proiettore","func":"msg = {};\nmsg1= {};\nmsg1.topic = \"control\"\nmsg1.payload =  \"toggle\"\n\nmsg.topic = \"cmnd/bridge_ir/irsend\";\nmsg.payload = {\"Protocol\":\"NEC\",\"Bits\":32,\"Data\":\"0x000C728D\"};// StandBy\n\n// Simulo invio comando off telecomando\nreturn [[msg, msg], [msg1, msg1]];\n","outputs":2,"noerr":0,"x":410,"y":60,"wires":[["d5316caa.51595"],["2f44dd07.f95cb2"]]},{"id":"d5316caa.51595","type":"delay","z":"a3b86765.52e488","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":40,"wires":[[]]},{"id":"2f44dd07.f95cb2","type":"alexa-remote-smarthome","z":"a3b86765.52e488","name":"Alexa:accendi luce","account":"9602596b.e94ce8","config":{"option":"action","value":[{"entity":"8fec310e-da57-40cc-9d42-50200266e3ce","action":"turnOn"},{"entity":"bccea434-198a-4c4d-86c2-cbf7b0ad8cb8","action":"turnOn"}]},"outputs":1,"x":670,"y":80,"wires":[[]]},{"id":"369ee59a.9fb31a","type":"subflow:fead3688.ada028","z":"a3b86765.52e488","name":"","x":400,"y":260,"wires":[[],["951b232d.91e76"]]},{"id":"6e715c25.458e34","type":"subflow:a3b86765.52e488","z":"dbc238ff.c9dbe8","name":"","x":680,"y":440,"wires":[["60eae1ba.6b60f"],["6498a9f1.6d5098"]]},{"id":"a0505588.ab93b8","type":"link out","z":"d68fa27.2876e6","name":"","links":["25a6dbcb.1b5214"],"x":135,"y":440,"wires":[]},{"id":"25a6dbcb.1b5214","type":"link in","z":"dbc238ff.c9dbe8","name":"Input da Alexa","links":["a0505588.ab93b8"],"x":195,"y":300,"wires":[["891850f0.98afb"]]},{"id":"5096f406.92b47c","type":"link in","z":"d68fa27.2876e6","name":"Feedback verso Alexa","links":["6498a9f1.6d5098"],"x":375,"y":440,"wires":[["548a8ad6.e24284"]]},{"id":"6498a9f1.6d5098","type":"link out","z":"dbc238ff.c9dbe8","name":"","links":["5096f406.92b47c"],"x":915,"y":340,"wires":[]},{"id":"3d813eb8.9b5bb2","type":"amazon-echo-device","z":"d68fa27.2876e6","name":"Cinema","topic":"","x":160,"y":380,"wires":[["92d1b1ac.8bda8"]]},{"id":"5dce329f.ed86fc","type":"change","z":"32c8bda3.a61c22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[[]]},{"id":"951b232d.91e76","type":"change","z":"a3b86765.52e488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646,"y":280,"wires":[[]]},{"id":"548a8ad6.e24284","type":"function","z":"d68fa27.2876e6","name":"","func":"var nodeid=\"3d813eb89b5bb2\";\n\nmsgOut = {};\n\nif (msg.payload == \"on\"){\n    msgOut.payload = {\n        on: true,\n        nodeid: nodeid\n    }\n\n} else if(msg.payload == \"off\"){\n    msgOut.payload = {\n        on: false,\n        nodeid: nodeid\n    }\n}\n\nreturn msgOut;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["97b54e53.c62e9"]]},{"id":"7e4a3d48.a8beb4","type":"comment","z":"d68fa27.2876e6","name":"[Cinema] Proiettore","info":"","x":250,"y":440,"wires":[]},{"id":"92d1b1ac.8bda8","type":"rbe","z":"d68fa27.2876e6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"on","x":310,"y":380,"wires":[["a0505588.ab93b8"]]},{"id":"85ea4888.09a208","type":"switch","z":"dbc238ff.c9dbe8","name":"Se è  spento ...","property":"cinema","propertyType":"flow","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":640,"y":180,"wires":[["26930ff1.b23f9"]]},{"id":"26930ff1.b23f9","type":"change","z":"dbc238ff.c9dbe8","name":"","rules":[{"t":"set","p":"cinema","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["43a95278.8976ec"]]},{"id":"d82b7cba.33332","type":"switch","z":"dbc238ff.c9dbe8","name":"Se è acceso ...","property":"cinema","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":640,"y":363,"wires":[["97cedaa2.fab6e8"]]},{"id":"97cedaa2.fab6e8","type":"change","z":"dbc238ff.c9dbe8","name":"","rules":[{"t":"set","p":"cinema","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":403,"wires":[["6e715c25.458e34"]]},{"id":"a1a10bc4.f0fe58","type":"inject","z":"dbc238ff.c9dbe8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["4f97a8ba.d62378"]]},{"id":"4f97a8ba.d62378","type":"change","z":"dbc238ff.c9dbe8","name":"","rules":[{"t":"set","p":"cinema","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[[]]},{"id":"efb7e00e.d41d7","type":"comment","z":"dbc238ff.c9dbe8","name":"Inizializzo cinema ad off","info":"","x":180,"y":40,"wires":[]},{"id":"c5c2493e.ac8338","type":"debug","z":"d68fa27.2876e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":380,"wires":[]},{"id":"49f35cb8.6fbe04","type":"link out","z":"d68fa27.2876e6","name":"","links":[],"x":515,"y":20,"wires":[]},{"id":"a056fd07.b007d","type":"ui_chart","z":"37e0f499.da808c","name":"","group":"38c75ac5.f7e016","order":1,"width":0,"height":0,"label":"Temperatura Orto","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":600,"wires":[[]]},{"id":"70cbb75b.48d568","type":"mqtt in","z":"37e0f499.da808c","name":"Temperatura Orto","topic":"tele/orto/SENSOR","qos":"1","datatype":"auto","broker":"8a8f6b01.2362f8","x":98,"y":666.2000122070312,"wires":[["675fe6d5.43e628"]]},{"id":"675fe6d5.43e628","type":"json","z":"37e0f499.da808c","name":"","property":"payload","action":"","pretty":false,"x":268,"y":666.2000122070312,"wires":[["26388264.3377ee"]]},{"id":"26388264.3377ee","type":"function","z":"37e0f499.da808c","name":"","func":"msg1 = {};\nmsg1.payload=msg.payload.DS18B20.Temperature;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":388,"y":666.2000122070312,"wires":[["a056fd07.b007d","2196c28f.aca83e"],["40c96c04.1b86a4"]]},{"id":"40c96c04.1b86a4","type":"ui_text","z":"37e0f499.da808c","group":"38c75ac5.f7e016","order":4,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload | date: 'h:mm:ss'}}","layout":"col-center","x":578,"y":726.2000122070312,"wires":[]},{"id":"2196c28f.aca83e","type":"ui_gauge","z":"37e0f499.da808c","name":"","group":"38c75ac5.f7e016","order":2,"width":0,"height":0,"gtype":"gage","title":"Orto","label":"Gradi","format":"{{value}}","min":"-5","max":"40","colors":["#0050b5","#00b500","#ca3838"],"seg1":"10","seg2":"26","x":570,"y":660,"wires":[]},{"id":"bec3194b.423728","type":"mqtt in","z":"813c77b8.a5ac48","name":"Cisterna","topic":"tele/cisterna/SENSOR","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":120,"y":100,"wires":[["c2d4785.42aa688"]]},{"id":"22c4c651.c0075a","type":"mqtt in","z":"813c77b8.a5ac48","name":"Stato Pompa","topic":"tele/pompa/STATE","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":130,"y":240,"wires":[["73d977f7.c6de88"]]},{"id":"3a0f639c.74011c","type":"mqtt in","z":"813c77b8.a5ac48","name":"Sensore Pompa","topic":"tele/pompa/SENSOR","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":120,"y":400,"wires":[["66145744.968158"]]},{"id":"30ce6d24.657422","type":"ui_chart","z":"813c77b8.a5ac48","name":"","group":"fdca1072.b74db","order":1,"width":0,"height":0,"label":"Livello","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":40,"wires":[[]]},{"id":"4856e6f7.3318f8","type":"function","z":"813c77b8.a5ac48","name":"","func":"H = msg.payload.SR04.Distance - 20;\n\n\nL = 175;\nD = 147;\nalfa = Math.acos(1 - (2*H/150));\n\nvVuoto = L * ( \n            (alfa * 5625) - \n            ( \n                (75 - H) * Math.sqrt((150*H) - H*H)\n            )\n        );\n        \nvPieno = 3000 - (vVuoto / 1000);\n\nmsg1 = {};\nmsg1.payload = vPieno;\nmsg2 = {};\nmsg2.payload=msg.payload.Time;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["30ce6d24.657422","e75298ae.f62058"],["f86a9f01.ebe67"]]},{"id":"f86a9f01.ebe67","type":"ui_text","z":"813c77b8.a5ac48","group":"fdca1072.b74db","order":3,"width":0,"height":0,"name":"","label":"Ultimo aggiornamento","format":"{{msg.payload | date: 'h:mm:ss'}}","layout":"col-center","x":580,"y":160,"wires":[]},{"id":"e75298ae.f62058","type":"ui_gauge","z":"813c77b8.a5ac48","name":"","group":"fdca1072.b74db","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":"0","max":"3000","colors":["#0050b5","#00b500","#ca3838"],"seg1":"","seg2":"","x":530,"y":100,"wires":[]},{"id":"c2d4785.42aa688","type":"json","z":"813c77b8.a5ac48","name":"","property":"payload","action":"","pretty":false,"x":250,"y":100,"wires":[["4856e6f7.3318f8"]]},{"id":"295cb2d6.1d9a5e","type":"ui_switch","z":"813c77b8.a5ac48","name":"","label":"Abilitata","tooltip":"","group":"bbd0fa69.6a8cc8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/pompa/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":580,"y":240,"wires":[["554b8951.9be278"]]},{"id":"73d977f7.c6de88","type":"json","z":"813c77b8.a5ac48","name":"","property":"payload","action":"","pretty":false,"x":290,"y":240,"wires":[["530f3e13.c29d9"]]},{"id":"530f3e13.c29d9","type":"function","z":"813c77b8.a5ac48","name":"","func":"\nmsg1 = {};\nmsg1.payload = msg.payload.POWER;\n\nreturn (msg1);","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["295cb2d6.1d9a5e"]]},{"id":"66145744.968158","type":"json","z":"813c77b8.a5ac48","name":"","property":"payload","action":"","pretty":false,"x":290,"y":400,"wires":[["b0ed4e2d.bd321","6949a274.20e09c","a2ad7061.7171","ea8b47e1.3fd798"]]},{"id":"6949a274.20e09c","type":"ui_text","z":"813c77b8.a5ac48","group":"bbd0fa69.6a8cc8","order":4,"width":0,"height":0,"name":"","label":"Consumo odierno (KW)","format":"{{msg.payload. ENERGY.Today}}","layout":"row-spread","x":650,"y":420,"wires":[]},{"id":"b0ed4e2d.bd321","type":"ui_text","z":"813c77b8.a5ac48","group":"bbd0fa69.6a8cc8","order":3,"width":0,"height":0,"name":"","label":"Volt","format":"{{msg.payload. ENERGY.Voltage}}","layout":"row-spread","x":590,"y":380,"wires":[]},{"id":"46bcaf84.15e97","type":"ui_text","z":"813c77b8.a5ac48","group":"bbd0fa69.6a8cc8","order":2,"width":0,"height":0,"name":"","label":"Stato","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":340,"wires":[]},{"id":"a2ad7061.7171","type":"function","z":"813c77b8.a5ac48","name":"","func":"\nmsg1 = {};\nif (msg.payload. ENERGY.Power > 1000)\n    msg1.payload = \"Sta pompando\";\nelse\n    msg1.payload = \"StandBy\";\n\nreturn (msg1);","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["46bcaf84.15e97"]]},{"id":"ea8b47e1.3fd798","type":"ui_text","z":"813c77b8.a5ac48","group":"bbd0fa69.6a8cc8","order":5,"width":0,"height":0,"name":"","label":"Consumo ieri (KW)","format":"{{msg.payload. ENERGY.Yesterday}}","layout":"row-spread","x":630,"y":460,"wires":[]},{"id":"b38715c0.c4a018","type":"mqtt in","z":"813c77b8.a5ac48","name":"Stato Orto","topic":"tele/orto/STATE","qos":"2","datatype":"auto","broker":"8a8f6b01.2362f8","x":100,"y":580,"wires":[["7b3097d5.67ad58"]]},{"id":"7b3097d5.67ad58","type":"json","z":"813c77b8.a5ac48","name":"","property":"payload","action":"","pretty":false,"x":290,"y":580,"wires":[["9740a797.a553c8","7e4c726b.78997c","9b110771.4ffde8","caf7b98a.97ab78"]]},{"id":"33600072.0e0de","type":"ui_switch","z":"813c77b8.a5ac48","name":"","label":"Orto Sopra","tooltip":"","group":"b1d21c37.8dbaa","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/orto/POWER1","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":590,"y":520,"wires":[["554b8951.9be278"]]},{"id":"9740a797.a553c8","type":"function","z":"813c77b8.a5ac48","name":"","func":"\nmsg1 = {};\nmsg1.payload = msg.payload.POWER1;\n\nreturn (msg1);","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["33600072.0e0de"]]},{"id":"7e4c726b.78997c","type":"function","z":"813c77b8.a5ac48","name":"","func":"\nmsg1 = {};\nmsg1.payload = msg.payload.POWER2;\n\nreturn (msg1);","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["5d28e3c2.0a2bcc"]]},{"id":"5d28e3c2.0a2bcc","type":"ui_switch","z":"813c77b8.a5ac48","name":"","label":"Orto Lato Tevere","tooltip":"","group":"b1d21c37.8dbaa","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/orto/POWER2","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":610,"y":560,"wires":[["554b8951.9be278"]]},{"id":"9b110771.4ffde8","type":"function","z":"813c77b8.a5ac48","name":"","func":"\nmsg1 = {};\nmsg1.payload = msg.payload.POWER3;\n\nreturn (msg1);","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["94d7e8a6.480668"]]},{"id":"94d7e8a6.480668","type":"ui_switch","z":"813c77b8.a5ac48","name":"","label":"Orto Lato Strada","tooltip":"","group":"b1d21c37.8dbaa","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/orto/POWER3","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":610,"y":620,"wires":[["554b8951.9be278"]]},{"id":"caf7b98a.97ab78","type":"function","z":"813c77b8.a5ac48","name":"","func":"\nmsg1 = {};\nmsg1.payload = msg.payload.POWER4;\n\nreturn (msg1);","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["3c2b74c4.d9ea1c"]]},{"id":"3c2b74c4.d9ea1c","type":"ui_switch","z":"813c77b8.a5ac48","name":"","label":"Luppoli","tooltip":"","group":"b1d21c37.8dbaa","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/orto/POWER4","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":580,"y":660,"wires":[["554b8951.9be278"]]},{"id":"554b8951.9be278","type":"mqtt out","z":"813c77b8.a5ac48","name":"","topic":"","qos":"2","retain":"","broker":"8a8f6b01.2362f8","x":870,"y":500,"wires":[]}]